$aside: 20%;
$primary: #827D9D;




$padding: 16px;
body {
  font-family: noyh_regular !important;
  // background-color: $primary;
  margin: 0;
  padding: 0;
  background-color: $primary;
}

h1, h2 {
  font-family: noyh_regular !important;
}

header,
aside,
footer {
  position: fixed;
}


h1.channel_title {
  padding-top: 2%;
  margin-left: 10px;
  line-height: 53px;
}


aside {
    width: $aside;
    background: $primary;
    height: 100%;
    padding: $padding;
    box-sizing: border-box;
    h1 {
      color: white;
    }
    h2 {
      border-top: #bac solid 1px;
      padding-top: 20px;
      font-size: 20px;
      color: white;
    }
    &, a {
      color: lighten($primary, 30%);
    }
    input.input {
      background-color: #bac !important;
      border-radius: 5px !important;
      border: $primary ;
      color: $primary !important;
    }
  }
  
  article {
    margin-left: $aside;
    background-color: white;

    h2{
      font-size: 10px;
    }

    img.avatar
    {
      width: 40px;
      float: left;
    }
    div.msg_info
    {
      margin-left: 50px;
    }

    p.content{
      margin-left: 70px;
      font-size: 20px;
    }

    li {
      border: white;
      border-bottom: $primary;
    }
  }
  
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-left: $aside;
    padding: $padding;
    background: white;
     
    textarea{
      border-radius: 10px;
      border: solid $primary 1px;
      height: 70px;
      width: 70%;
    }
  }



  @font-face {
    font-family: 'noyh_black';
    src: url('/fonts/noyh/NoyhGeometricSlim-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'noyh_regular';
  src: url('/fonts/noyh/NoyhGeometricSlim-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}