$aside: 20%;
$primary: #827D9D;




$padding: 16px;

body {
  font-family: sans-serif;
  // background-color: $primary;
  margin: 0;
  padding: 0;
  background-color: $primary;
}

header,
aside,
footer {
  position: fixed;
}

header {
    float: right;
    // padding-top: 2%;
    // padding-bottom: 2%;
    background: rgb(255, 255, 255);
    width: 100%;
    border-bottom: solid #B1ABCF 1px;
    h1 {
      margin-left: 10px;
      line-height: 53px;
    }
}

aside {
    width: $aside;
    background: $primary;
    height: 100%;
    padding: $padding;
    box-sizing: border-box;
    h1 {
      color: white;
    }
    h2 {
      border-top: #bac solid 1px;
      padding-top: 20px;
      font-size: 20px;
      color: white;
    }
    &, a {
      color: lighten($primary, 30%);
    }
    input {
      outline:none;
      -webkit-appearance: none;
      box-shadow: none !important;
      background: #bac;
      border-radius: 2px;
    }
  }
  
  article {
    margin-left: $aside;
    background-color: white;

    h2{
      font-size: 10px;
    }
  }
  
  footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-left: $aside;
    padding: $padding;
    background: white;
     
    textarea{
      border-radius: 10px;
      border: solid $primary 1px;
      height: 100px;
      width: 70%;
    }
  }


  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  }