// @import "../node_modules/bootstrap/scss/bootstrap.scss";

$aside: 20%;
$primary: #827D9D;




$padding: 16px;
html, body {
  margin:0;
  padding:0;
  height:100%;
}


body {
  font-family: Lato !important;
  // background-color: $primary;
  margin: 0;
  padding: 0;
  background-color: $primary;
}

h1, h2 {
  font-family: Lato !important;
}

header,
aside,
footer {
  position: fixed;
}

// nav {
//     float: right;
//     display: block;
//     // padding-top: 2%;
//     // padding-bottom: 2%;
//     background: rgb(255, 255, 255);
//     width: 100%;
//     border-bottom: solid #B1ABCF 1px;
h1.channel_title {
  padding-top: 2%;
  margin-left: 10px;
  line-height: 53px;
  // border-bottom: solid #B1ABCF 1px;
}


aside {
    width: $aside;
    background: $primary;
    height: 100%;
    padding: $padding;
    box-sizing: border-box;
    h1 {
      color: white;
    }

    .accounts-dialog {
      width: 19.5vw;
    }

    h2 {
      border-top: #bac solid 1px;
      padding-top: 20px;
      font-size: 20px;
      color: white;
    }
    &, a {
      color: lighten($primary, 30%);
    }
    input.input {
      background-color: #bac !important;
      border-radius: 5px !important;
      border: $primary ;
      color: $primary !important;
    }
  }

  article {
    height: 100%;
    margin-left: $aside;
    background-color: white;

    li.list-group-item:hover {
      background-color: #edecf5;
    }

    .channel-title
    {
      position: fixed;
      z-index: 7;
      display: inline-block;
      background-color: white;
      border-bottom: 1px solid #B1ABCF;
      width: 100%;
    }
    #div_messages{
      height: calc(100% - 110px);
      overflow: auto;
      padding-top: 100px;
    }
    h2{
      font-size: 10px;
    }

    img.avatar
    {
      padding-top: 8px;
      width: 40px;
      float: left;
    }
    div.msg_info
    {
      margin-left: 50px;
    }

    p.content{
      margin-left: 50px;
      font-size: 20px;
      margin-bottom: 0;
      word-wrap: break-word;
    }

    li {
      border: white;
      border-bottom: $primary;
    }
  }
  
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-left: $aside;
    padding: $padding;
    background: white;
     
    textarea{
      border-radius: 10px;
      border: solid $primary 1px;
      height: 70px;
      width: 70%;
    }
  }



  @font-face {
    font-family: 'Lato_black';
    src: url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
  font-weight: normal;
  font-style: normal;
}