<!-- template for home listing channels -->
<template name = "home">

    {{#contentFor 'aside'}}
    
    <!-- form to input new channels to home -->
    <form>
        <label for = "name"> Channel name: </label>
        <input id = "name" type = "text">
        <button type =  "submit"> Add </button>
    </form>
    <!-- form to input new channels to home -->

    <ul>
        {{#each channels}}
        <li>
            <!-- link from home to a channel -->
            <a href = "/channel/{{_id}}">
                {{name}}
            </a>
        </li>
        {{/each}}
    </ul>
    {{> loginButtons}}

    {{/contentFor}}

</template>
<!-- template for home listing channels -->
