<!-- template for home listing channels -->
<template name = "home">

    {{#contentFor 'aside'}}
    <h1> Scaleable Chat </h1>
    {{> loginButtons}}
    
    <!-- form to input new channels to home -->
    <!-- <form>
        <label for = "name"> Channel name: </label>
        <input id = "name" type = "text">
        <button type =  "submit"> Add </button>
    </form> -->
    <!-- form to input new channels to home -->

    <div>
    <h2> Channels</h2>
    <ul>
        {{#each channels}}
        <li>
            <!-- link from home to a channel -->
            <a href = "/channel/{{_id}}">
                {{name}}
            </a>
        </li>
        {{/each}}
    </ul>
    {{> channelForm}}
    </div>
    {{/contentFor}}

</template>
<!-- template for home listing channels -->

<template name = "channelForm">
    <!-- form to input new channels to home -->
    <form>
        <input class = "input" id = "name" type = "text" placeholder="a new channel">
        <button type =  "submit"> Add </button>
    </form>
    <!-- form to input new channels to home -->
</template>
