<template name = "channel">
    <ul>
        {{#each messages}}
        <h2>{{date}}</h2>
        <li>
            <!-- markdown to enable rendering of newlines and paragraphs -->
            <div>{{user.emails.[0].address}} {{time}}</div>
            {{#markdown}}
                {{message}}
            {{/markdown}}
        </li>
        {{/each}}
    </ul>
    
    <!-- form w single line text area for new msgs -->
    <form>
    <textarea rows="1" cols="100"></textarea>
    </form>

    <!-- adding links to the channels in a channel -->
    {{> home}}
</template>