<template name = "channel">

    {{#contentFor 'header'}}
        <h1>{{channel.name}}</h1>
    {{/contentFor}}

    <!-- LAME AUTOSCROLL -->
    <!-- {{#contentFor 'footer'}} -->
    <div id = "div_messages" style="height: 100%; width:50%; background-color: rgb(250, 179, 0);">
    <ul>
        {{#each messages}}
        <h2>{{date}}</h2>
        <li>
            <!-- markdown to enable rendering of newlines and paragraphs -->
            <div>{{user.username}} {{time}}</div>
            {{#markdown}}
                {{message}}
            {{/markdown}}
        </li>
        {{/each}}
    </ul>
    <!-- </div> -->

    <br>
    <br>

    {{> messageForm}}
</div>
    <!-- LAME AUTOSCROLL -->
    <!-- {{/contentFor}} -->

    {{#contentFor 'footer'}}
        {{> messageForm}}
    {{/contentFor}}
    
    <!-- form w single line text area for new msgs -->
    <!-- <form>
    <textarea rows="1" cols="100"></textarea>
    </form> -->
    <!-- adding links to the channels in a channel -->

    {{> home}}
</template>

<template name="messageForm">
    <form>
      <textarea rows="1" cols="109"></textarea>
    </form>
</template>