<template name = "channel">

    <nav class="navbar navbar-default channel-title">
        <div class = "container-fluid">
            <div class="navbar-header" >
                <h1 class = "channel_title" >{{# each channel.name}} {{else}} # random {{/each}} </h1>
           </div>
        </div>
    </nav>
    <!-- HIDDEN AUTOSCROLL DONT UNCOMMENT OR DELETE -->
    <!-- {{#contentFor 'footer'}} -->
    <div class = "container" id = "div_messages" >
    <ul class = "list-group">
        {{#each messages}}
        <!-- bugs with date: time did not match with actual time -->
        <!-- <h2 class = "timestamp">{{date}}</h2> --> 
        
        <li class = "list-group-item ">
            <img class = "avatar" src="/images/avatar.png" alt="avatar">
            <!-- markdown to enable rendering of newlines and paragraphs -->
            <!-- both user and username work btw js -->
            <!-- <div>{{username}} {{user}} {{time}}</div> -->
            <div class = "msg_info" >
                {{username}} {{time}} 
            </div>
            <!-- <div>{{user_display}} {{time}}</div> -->
            <p class = "content">
            <!-- {{#markdown}} -->
                {{message}} {{auto_s}}
            <!-- {{/markdown}} -->
            </p>
        </li>

        
        {{/each}}

    </ul>

    </div>
    <!-- HIDDEN AUTOSCROLL DONT UNCOMMENT OR DELETE -->
    <!-- {{/contentFor}} -->

    {{#contentFor 'footer'}}
        {{> messageForm}}
    {{/contentFor}}
    
    <!-- form w single line text area for new msgs -->
    <!-- <form>
    <textarea rows="1" cols="100"></textarea>
    </form> -->
    <!-- adding links to the channels in a channel -->

    {{> home}}
</template>

<template name="messageForm">
    <form>
      <textarea rows="2" cols="110" placeholder="   type your message..."></textarea>
    </form>
</template>